.auth-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
}

h2 {
  margin: auto;
  padding-bottom: 15px;
}

.logo-container {
  width: 100%;
  text-align: center;
}

img {
  padding-top: 30px;
  margin: auto;
}
