.sudoku-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sudoku-container:focus {
  outline: none;
}

.sudoku-board {
  border-collapse: collapse;
  background-color: white;
  width: auto;
  height: auto;
}

.sudoku-board td {
  width: 65px;
  height: 65px;
  border: 1px solid black;
  text-align: center;
  font-size: 32px;
}

.sudoku-board td.selected {
  background-color: yellow;
}

.sudoku-board td:nth-child(3n) {
  border-right: 3px solid black;
}

.sudoku-board tr:nth-child(3n) td {
  border-bottom: 3px solid black;
}

.sudoku-board td:first-child {
  border-left: 3px solid black;
}

.sudoku-board tr:first-child td {
  border-top: 3px solid black;
}

.sudoku-board td.invalid {
  background-color: red;
}

.sudoku-board td.conflict {
  background-color: orange;
}
