<mat-toolbar color="primary">
  <img ngSrc="/logo-white.png" height="50" width="50" alt="White Logo" style="padding-right: 15px">
  <span>SudokuMaster</span>
  <span class="spacer"></span>
  <button *ngIf="!isLoggedIn" mat-button (click)="navigateTo('/auth')">Login</button>
  <button *ngIf="isLoggedIn" mat-button (click)="navigateTo('/playground')">Playground</button>
  <button *ngIf="isLoggedIn" mat-button (click)="navigateTo('/profile')">Profile</button>
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
</mat-toolbar>


<router-outlet></router-outlet>
